@{
    Layout = "~/Views/admin.cshtml";
}
<div id="left">
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>文件列表</span></a>
        </div>
        <ul class="subnav-menu">
            <li><a href="/explorer/index"><i class="icon-list"></i>视图</a> </li>
            <li><a href="/explorer/index?type=css"><i class="icon-leaf"></i>样式</a> </li>
            <li><a href="/explorer/index?type=script"><i class="icon-cogs"></i>脚本</a> </li>
            <li><a href="/explorer/index?type=images"><i class="icon-film"></i>图片</a> </li>
            <li><a href="/explorer/upload"><i class="icon-cloud-upload"></i>上传</a> </li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="container-fluid">
        <div class="container-fluid">

            <div class="row-fluid">
                <div class="span12">
                    <div class="box">
                        <div class="box-title">
                            <h3><i class="icon-edit"></i>文件编辑[@Model.File]</h3>
                        </div>
                        <div class="box-content">
                            <div class="control-group">
                                <input id="file-path" type="hidden" value="@Model.File" />
                                <textarea id="file-data" name="" style="width: 100%; height: 600px">@Model.Content</textarea>
                            </div>

                            <div class="form-actions">
                                <button class="btn" onclick="onSave()"><i class="icon-edit"></i>保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>

<script>
    $(document).ready(function () { $('#menu-file').addClass("active"); });
    function onSave() {
        if (confirm("是否要保存文件?")) {
            $.post("savefile", { file: $('#file-path').val(), data: $('#file-data').val() }, function (result) {

                if (!result && result != '') {

                    alert(result);
                }
                else {

                    alert('保存成功');

                }
            });
        }

    }

</script>
